.info{
  /* font-family: 'Press Start 2P', cursive; */
  /* font-family: 'Racing Sans One', cursive; */
  /* font-family: 'Sarpanch', sans-serif; */
  font-family: 'Miriam Libre', sans-serif;
  /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
  color: black;
  text-align: center;
  margin: 10%;
}

/* style.css */

html, body {
  height: 100%;
}

body {
  margin-right: 100px;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
